@import "../scss/base";
@import "../scss/component";
@import "../scss/layout";
@import "../scss/animation";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');

ul {
    list-style-type: none;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background: linear-gradient(to bottom right, rgb(235, 134, 39), rgb(161, 98, 2));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 95rem;
}